body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  outline: 0;
}

.container {
  margin-top: 15px;
}

table th {
  border-top: 0 !important;
}

.page {
  margin-top: 15px;
}

.page h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 22px;
}

.page h4 {
  font-size: 17px;
}
